@require '../../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: #29d245
  accent: #29d245
  secondary: #29d245
  info: #29d245
  warning: #29d245
  error: #29d245
  success: #29d245
}
 
@require '../../node_modules/vuetify/src/stylus/main'