@require '../../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: #28d244
  accent: #28d244
  secondary: #28d244
  info: #28d244
  warning: #28d244
  error: #28d244
  success: #28d244
}
 
@require '../../node_modules/vuetify/src/stylus/main'